* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

.App {
  overflow-x: hidden;
}

/*------------------------ Navbar ------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(27, 24, 24);
  color: white;
  height: 4rem;
  max-height: 4.5rem;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar .navbar-left, .navbar .navbar-right {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  font-weight: 500;
}

.navbar-left img {
  height: 2.5rem;
  width: 3rem;
}

.navbar-left h4, .navbar-right h5 {
  margin-top: 0.5rem;
}

.navbar-right button {
  height: 4rem;
  margin-right: 1rem;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: -0.5rem;
}

/*------------------------ Header ------------------------*/

.header {
  background: linear-gradient(rgba(27, 27, 27, 0.557), rgba(32, 31, 31, 0.511)), url("https://2020.productthinking.io/static/media/carousel_3.3a604011.jpg");
  /* min-height: 100vh; */
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}


.header ul {
  list-style-type: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 0 2rem 2rem; 
}

/* .header ul li {
  padding: 0.2rem;
} */

.header ul li:hover {
  background-color: yellow;
  color: black;
}
.show-hover {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 90%;
  border: 6px solid yellow;
  color: white;
  background-color: rgba(40, 40, 40, 0.354);
}

/*------------------------community-container------------------------*/

.community-container {
  background-color: black;
  height: 100%;
  padding-bottom: 2rem;
}

.community-container > h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 700;
  font-size: 5rem;
  color: yellow;
  padding-top: 3rem;
}

.community-container > .arrow-img {
  display: flex;
  justify-content: center;
  width: 45rem;
  margin: auto;
  padding-left: 25rem;
}

.community-grid, .register-grid {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
  color: white;
  margin: 0 4rem;
}

.community-text, .register-text {
  margin: auto;
}

.community-text h1 {
  font-size: 3rem;
  font-weight: 700;
}


.community-text p, .register-text p {
  font-size: 1.7rem;
  margin-top: 1rem;
  text-align: left;
  font-weight: normal;
}
.community-grid img {
  display: flex;
  width: 100%;
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.join-btn {
  width: 32rem;
  border: 1px solid rgba(227, 224, 224, 0.498);
  border-radius: 2rem;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.join-btn a {
  text-align: center;
  font-size: 2.3rem;
  color: white;
  text-decoration: none;
}

/*------------------------register-container------------------------*/

.register-container {
  background-color: black;
  margin-top: -1.2rem;
  padding: 0;
  height: 100%;
}

.register-text h1 {
  font-size: 5rem;
  font-weight: 500;
  color: red;
  text-align: center;
}

.register-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.details-btn, .register-btn {
  width: 17rem;
  background-color: red;
  border-radius: 2rem;
  text-align: center;
  margin: 2rem;
  padding: 0.3rem 0.8rem;
}

.details-btn a, .register-btn a {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
}

.register-grid img {
  width: 100%;
  min-height: 80%;
}

/*------------------------training-container------------------------*/

.training-title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3rem;
  font-weight: 700;
  font-size: 3rem;
  font-family: 'Poppins', serif;
}

.training-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  margin: 1rem;
  width: 100%;
}

.card-1 .card {
  background-color: #3F677A;
}

.card-1 .card .card-main-text {
  background-color: #29424C;
}
/* ----------- */
.card-2 .card {
  background-color: #576E9A;
}

.card-2 .card .card-main-text {
  background-color: #435679;
}

/* ----------- */

.card-3 .card {
  background-color: #3E6B87;
}

.card-3 .card .card-main-text {
  background-color: #315267;
}

/* ----------- */

.card-4 .card {
  background-color: #3182A0;
}

.card-4 .card .card-main-text {
  background-color: #21596D;
}

/* ----------- */

.card-5 .card {
  background-color: #3F677A;
}

.card-5 .card .card-main-text {
  background-color: #29424C;
}

/* ----------- */

.training-container {
  display: grid;
  justify-content: center;
  margin: 0.5rem;
  padding: 0;
}

.training-container .card {
  margin: 1rem 0;
  border-radius: 1rem;
  color: white;
  padding: 0;
}

.training-container .card-img {
  width: 7rem;
  margin: 0.5rem;
}
.training-container .card-body {
  margin-bottom: 1rem;
  padding: 0;
}
.training-container .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.5rem;
}

.training-container .card-title:hover {
  overflow: visible;
}

.training-container .card-main-text {
  margin-top: 1rem;
  
  margin: 0;
  padding: 0.3rem 1rem;
  width: 100%;
}

.card-main-text h4 {
  font-weight: 600;
}

.training-container .card-main-text small {
  font-size: 1rem;
  font-weight: 400;
}

.training-container .card-btn {
  background-color: white;
  color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 0.6rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

/*------------------------meetups-container------------------------*/

.meetups-container, .webinars-container, .conference-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.meetups-container h1, .webinars-container h1, .conference-container h1 {
  font-family: 'Poppins', serif;
  font-size: 5rem;
  font-weight: 600;
}

.meetups-container .btn-groups {
  margin-top: 2rem;
}

.meetups-container .btn-group, .webinars-container .btn-group, .conference-container .btn-group {
  border: 1px solid black;
  border-radius: 0px;
}

.btn-group-lg>.btn {
  border-radius: 0px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
}

.btn-filter {
  margin-left: 1rem;
  background-color: white;
}

.meetups-container h2 {
  font-family: 'Poppins', serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 4rem 0;
}

/*------------------------webinars-container------------------------*/

.webinars-container .btn-group, .conference-container .btn-group {
  margin: 2rem 0;
  width: 30rem;
}



.webinars-container .card {
  background: linear-gradient(rgba(27, 27, 27, 0.557), rgba(32, 31, 31, 0.511)), url("https://images.unsplash.com/photo-1605712916066-e143c317df72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHB1enpsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  height: 12rem;
  text-align: left;
  margin: 3rem;
}

.webinars-container .card-text {
  color: yellow;
  margin-top: 1.7rem;
  padding: 3.7rem 1rem 0 1rem;
  font-weight: 600;
} 

.webinars-container .card-text p {
  color: white;
  font-weight: 500;
}

/*------------------------conference-container------------------------*/
.conference-main {
  background-color: black;
  color: white;
  padding-top: 2rem;
}
.conference-container {
  background-color: black;
  color: white;
  padding: 1rem 0;
}

.conference-btn {
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid black;
}


.conference-container .btn-light{
  background-color: white;
  color: black;
}

.conference-container p {
  font-family: 'Inter', serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 4rem;
}

.conference-container .notify-btn {
  width: 17rem;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Inter', serif;
  border: none;
  border-radius: 2rem;
  text-align: center;
  margin: 2rem;
  padding: 0.3rem 0.8rem;
}

/*------------------------videos-container------------------------*/

.videos-container {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 4rem 10rem;
}

.video .ratio {
  display: flex;
  justify-content: center;
}

.videos-title, .pmspeak-title, .blogs-title, .podcasts-title {
  display: flex;
  justify-content: center;
  font-family: 'Inter', serif;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 3rem;
}

.speak-series {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  margin: 3rem;
}

.pm-speak {
  margin: 1rem;
}

/* Blogs */

.main-blogs, .main-podcasts {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  margin: 3rem;
}

.blogs-container a {
  text-decoration: none;
}

.blogs-container .card {
  background: linear-gradient(rgba(27, 27, 27, 0.557), rgba(32, 31, 31, 0.511)), url("https://www.crmnext.com/images/custompage/voice-of-the-customer-voc.jpg");
  height: 12rem;
  text-align: left;
  margin: 3rem;
}

.blogs-container .card-text {
  color: yellow;
  margin-top: 1.7rem;
  padding: 3.7rem 1rem 0 1rem;
  font-weight: 600;
} 

.blogs-container .card-text p {
  color: white;
  font-weight: 500;
}

/* Podcasts */

.podcasts-container .card {
  background: linear-gradient(rgba(27, 27, 27, 0.557), rgba(32, 31, 31, 0.511)), url("https://bestmediainfo.com/uploads/2021/07/podcasts-grow-beyond-English-speaking-metro-listeners_3.jpg");
  height: 12rem;
  text-align: left;
  margin: 3rem;
}

.podcasts-container .card-text {
  color: yellow;
  margin-top: 1.7rem;
  padding: 3.7rem 1rem 0 1rem;
  font-weight: 600;
} 

.podcasts-container .card-text p {
  color: white;
  font-weight: 500;
}

.msg-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  border-radius: 0px;
}


@media screen and (max-width: 1500px) {
  .training-cards, .main-blogs, .main-podcasts, .speak-series  {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    margin: auto;
    justify-content: center;
  }

  
  /* .speak-series {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    margin: 3rem;
  } */
}

@media screen and (max-width: 1350px) {
  .speak-series {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    margin: 3rem;
  }
}

@media screen and (max-width: 1150px) {
  .training-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    margin: 2rem;
    justify-content: center;
  }

  .speak-series {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    margin: 3rem;
  }
  
}

@media screen and (max-width: 778px) {
  .training-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: 1fr;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .speak-series {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    margin: 3rem;
  }

}
